---
layout: default
title: Our Projects
---

<h2>I am z future projects page!</h2>

{% for project in site.data.current_projects %}
  <article>
    <header>
      <h3>
        {% if project.url %}
          <a href="{{ project.url }}">{{ project.name }}</a>
        {% else %}
          {{ project.name }}
        {% endif %}
      </h3>
      {% if project.url %}
        <small>{{ project.url }}</small>
      {% endif %}
    </header>
    <section>
      <p>
        {{ project.description }}
      </p>
    </section>
    <footer>
      <a href="https://github.com/{{ project.github }}">
        {{ project.github }}
      </a>
    </footer>
  </article>
{% endfor %}