<footer class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-3">
      <h5>We are a Code for America brigade</h5>
      <p>Learn more about Code for America <a href="http://www.codeforamerica.org">here.</a></p>
      <img src="/assets/img/flag_tag_inverse.png" style="width:40%;"/>
    </div>

    <div class="col-md-2">
      <h5>Recent Updates</h5>
        {% for post in site.posts limit: 3  %}
        <p><a href="{{post.url}}">{{ post.title }}</a></p>
        {% endfor %}
    </div>
    <div class="col-md-3">
      <h5>Code4Sac is for everyone.</h5>
      <p>We hope you will join us!</p>
    </div>

    <div class="col-md-3">
      <h5>Weekly Hack Nights</h5>
      <p>Held each Wednesday at
      <address>
        <a href="http://www.hackerlab.com">Hacker Lab</a> <br>
        1715 I Street <br>
        Sacramento, CA 95811
      </address>
      <p>RSVP at <a href="http://www.meetup.com/code4sac">meetup.com</a></p>
    </div>
  </div>
</footer>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/custom.js"></script>
