<section role="navigation">
  <ul class="nav nav-pills" id="main-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/about/index.html">About Us</a></li>
        <li><a href="/about/index.html#partners">Our Partners</a></li>
        <li><a href="/about/index.html#brigade">Meet Our Brigade</a></li>
        <li><a href="/about/index.html#faq">Frequently Asked Questions</a></li>
        <li><a href="/about/index.html#contact">Contact Us</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Causes <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/causes/climate-change.html">Climate Change</a></li>
        <li><a href="/causes/digital-community.html">Digital Community</a></li>
        <li><a href="/causes/government-transparency.html">Gov Transparency</a></li>
        <li><a href="/causes/hunger.html">Hunger</a></li>
        <li><a href="/causes/open-data.html">Open Data</a></li>
        <li><a href="/causes/transportation.html">Transportation</a></li>
        <li><a href="/causes/veterans.html">Veterans</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support Us <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/support/index.html#volunteer">Become a Volunteer</a></li>
        <li><a href="/support/index.html#donate">Donate</a></li>
        <li><a href="/support/index.html">Share an Idea</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">News+Calendar <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/blog/">News+Updates</a></li>
          <li><a href="/calendar/">Calendar</a></li>
          <li><a href="#">Our Google Group</a></li>
        </ul>
    <li><a href='#'>{Tw}</a></li>
    <li><a href="#">{Fb}</a></li>
  </ul>
</section>