<p>--C4S Project List--</p>
<ul>
	<h3>Climate Change</h3>
		<a href="/projects/climate-action-plan/">Climate Action Plan</a><br>
		<a href="/support/share/"><small><em>Suggest a new climate change project...</em></small></a>
	<h3>Digital Community</h3>
		<a href="/projects/hashtag-project/">Hashtag Project</a><br>
		<a href="/support/share/"><em>Suggest a new digital community project...</em></a>
	<h3>Hunger</h3>
		<a href="/projects/food-pantry-map/">Food Pantry Map</a><br>
		<a href="/support/share/"><em>Suggest a new hunger project...</em></a>
	<h3>Open Data</h3>
		<a href="/projects/portal-utlities/">Portal Utilities</a><br>
		<a href="/projects/team-wakati/">Team Wakati</a><br>
		<a href="/support/share/"><small><em>Suggest a new open data project...</em></small></a>
	<h3>Transportation</h3>
		<a href="/projects/charging-stations/">E-Vehicle Charging Stations</a><br>
		<a href="/support/share/"><small><em>Suggest a new transportation project...</em></small></a>
</ul>
